<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license

https://angular.io/guide/structural-directives
-->
<h2 [ngStyle]="{ 'text-shadow': shadowValues }">Products</h2>

<!--Estructural directive-->
<div *ngFor="let product of products; first as isFirst">
  <h3>
    <!--Property binding-->
    <a
      [title]="product.name + ' details'"
      [ngClass]="{ 'first-class': isFirst }"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>

  <!--Estructural directive-->
  <p *ngIf="product.description; else elseBlock">
    Description: {{ product.description }}
  </p>
  <button type="button" (click)="share()">Share</button>

  <app-product-alerts [product]="product" (notifyDialog)="onNotify()">
  </app-product-alerts>
</div>

<ng-template #elseBlock>
  <p style="{ 'font-style': 'oblique' }">No description available</p>
</ng-template>
